.header {
	position: fixed;
	width: 100%;
	height: 68px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #b7b7b7;
	background: white;
	z-index: 100;
}

.headerButton {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #b7b7b7;

	color: #000;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	line-height: 19px;
	width: 133px;
	height: 100%;
	cursor: pointer;
}
.menu {
	gap: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #b7b7b7;
	width: 140px;

	color: #000;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	line-height: 19px;
	text-transform: uppercase;
	cursor: pointer;
}

.mainLogo {
	position: absolute;
	left: 45%;
	bottom: 15px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #191b1d;
	font-size: 38px;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
	letter-spacing: -1.9px;
	cursor: pointer;
}

.search {
	padding-top: 2px;
	color: rgba(25, 27, 29, 0.5);
	font-size: 12px;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: -0.56px;
}

.favorites {
	border-right: 1px solid #b7b7b7;
	padding: 25px 32px 21px 32px;
	cursor: pointer;
}

.textBtn {
	overflow: hidden;
	position: relative;
}
.textBtn:hover {
	cursor: pointer;
}

/*textBtn:before (attr data-hover)*/
.textBtn:hover:before {
	transform: translate(0, 0);
}
.textBtn:before {
	content: attr(data-hover);
	position: absolute;
	left: 0;
	width: 100%;
	transform: translate(0, 170%);
	transition: all 0.3s;
	color: rgb(0, 0, 0);
}
/*textBtn div (textBtn text before hover)*/
.textBtn:hover div {
	transform: translate(0, -170%);
}
.textBtn div {
	transition: all 0.3s;
}
