.formName {
	color: #000;
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 18px; /* 200% */
	letter-spacing: 1.32px;
	text-transform: uppercase;
	padding-bottom: 2vh;
}
.textArea {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
}
