.video {
	overflow: hidden;
	object-fit: cover;
	transition: all 1s;
	background-image: url(https://lh3.googleusercontent.com/fife/AK0iWDzjKZR1OcU3i72dQDumFrR6TMgJobp4rg9SSUip_vlub7FUZff3HpFqs2Y5YhnRWXXFfUMetOntMOzYjCfLwWmnQLitYPeGxuPkH4xKpw36sj78Kw5jn_H97FesA68dLB3b5FjWtBhvT0JDcwZ6bUxQTA8iCVG09KfsGUY55dpcutXZXIHkpy0ngDFSVSAB72vci2GtWHnoUNTUQ-Zao-5hWHhPwjVdWYdiS8IAYuZaAHGVW4a4p4-6NpJZVjMbV8M4khO5pX3eCcaMo6lqL-QFkrOK_gkjz8Q9tNUKKixfUcGZJ2SEv0vBSWPLJZWAJiUVLHPK9dWUkU1ybXaqKnfsfllm9bngHKY37zxtaStwonxHysLF6BzSz6RT25TJ06JJbH0KlbzPFs0RvoV6jnoaqVajmiMh2irSNiwZyORs5ugGzCLkSBgZmJWHwwWXuYzqaBEvFPQ1ItGySz3lkN_OhHRnUNRiIVeDv-lnS3PIesaWuS6wP6Kr1Hdg2aW6WL8Fahb6CzNR-edbt4DBcBHoZ-OpyH-YgXXhNSNU7DmJ6ZVrmdetA6qHgwnuxLFDGMEk2jQdPzFzq59dZhJulM1shTHqHKzUu44yFksCJYmxPpJnWOmXtflfLrVU_iePTnEwIvzJN40bneHWtppE-OXdfF6n1Y5yGu3ovFAlvV41USXMSEoqsncxwHNeIOTseXk60CGJnUAbYDnNltmW3h6fNSZR7MORptpQ4RlSL3ndqn_xe0HNIMTnAWKlsV_ff4yvUDK9SodMOcfIyUWuCAhb6tcwf5ncK9BUmwjKPJg4FmPoVHYzTHOoxYzi2nfJOJCv8HoUAEtYcYdtkcE4kRGoyZjSVqpVXLw1LswWgY5t320cj3PAyM1zl96RfRRpIZfFVnr5VLofxp1LE3-qtqhZnOTvVpkYAjY3q_YAm7oK3Uyx_YGjIq_70p3ZeXgFMFpfDb5XFhBDWJEqK5PsAL-Q5PgUkl1VTgu3IjjVcVn6Tiht4l9eIfRJVD83twuGCfR2UclwUnYl4Duc6cy9fXC1BfLyVHQoi9hH0p6gsCKyJl5exOS1P3ogsJUv9be0LVVbDQw5TuJfq_JrBPDRAf2CqMri1TywpTvlRgzxeCDD3noTzOvSDQV-qApoWmPaSTjxcqUNb7jduZ_DogtgiuqsRKy7KOQ4nmHxTSKKKVeKA4fqyQVSrZNXzVbobUrMm5QZHLCb1qcfWVIXzr9qP45AGlC3z7vov2oyfJwpm2J5UP2ujcV7s6L8GzPILKAIJDMW27wb-nuVKmfAFIfAg1PFN3vVyS5Rl7KmTo4Ny7JskKwDj_qL8MY5OZXCVRuJ9SoPgmUHW0e-s-zXL5sv2Rz4yZHhkwIvqmGV2DXV356Oq8faoSYtT9htm-Bu3KErUxgow1-6e1p1FgNfHk_TQv0hzDj-9Q21l8YfgAwvBfOS6T9xRpkQgtQZUvAfVJHq09hy1Ah-rBpPVi-_bKpPQ7Gb4Ci8oysxk3U7_bg39fuPlXdDD9AKeCwQxPXELbJfoPnnz8ZCIDDw3uruHTZmHiD_DjHaZo-RGBzRXr7MkWICisg=w1920-h940);
	background-color: #191b1d;
	background-size: contain;
	position: absolute;
	top: -17vh;
	z-index: 12;
}
.wrapper {
	position: relative;
	display: block;
	padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 567px) {
	.video {
		min-height: 50vh;
		top: -0;
		width: 200.66667vh !important;
		left: 50%;
		transform: translateX(-50%) !important;
	}
	.wrapper {
		min-height: 70vh;
		z-index: 0;
	}
}
