.video {
	overflow: hidden;
	object-fit: cover;
	transition: all 1s;
	background-image: url(https://lh3.googleusercontent.com/fife/AK0iWDzjKZR1OcU3i72dQDumFrR6TMgJobp4rg9SSUip_vlub7FUZff3HpFqs2Y5YhnRWXXFfUMetOntMOzYjCfLwWmnQLitYPeGxuPkH4xKpw36sj78Kw5jn_H97FesA68dLB3b5FjWtBhvT0JDcwZ6bUxQTA8iCVG09KfsGUY55dpcutXZXIHkpy0ngDFSVSAB72vci2GtWHnoUNTUQ-Zao-5hWHhPwjVdWYdiS8IAYuZaAHGVW4a4p4-6NpJZVjMbV8M4khO5pX3eCcaMo6lqL-QFkrOK_gkjz8Q9tNUKKixfUcGZJ2SEv0vBSWPLJZWAJiUVLHPK9dWUkU1ybXaqKnfsfllm9bngHKY37zxtaStwonxHysLF6BzSz6RT25TJ06JJbH0KlbzPFs0RvoV6jnoaqVajmiMh2irSNiwZyORs5ugGzCLkSBgZmJWHwwWXuYzqaBEvFPQ1ItGySz3lkN_OhHRnUNRiIVeDv-lnS3PIesaWuS6wP6Kr1Hdg2aW6WL8Fahb6CzNR-edbt4DBcBHoZ-OpyH-YgXXhNSNU7DmJ6ZVrmdetA6qHgwnuxLFDGMEk2jQdPzFzq59dZhJulM1shTHqHKzUu44yFksCJYmxPpJnWOmXtflfLrVU_iePTnEwIvzJN40bneHWtppE-OXdfF6n1Y5yGu3ovFAlvV41USXMSEoqsncxwHNeIOTseXk60CGJnUAbYDnNltmW3h6fNSZR7MORptpQ4RlSL3ndqn_xe0HNIMTnAWKlsV_ff4yvUDK9SodMOcfIyUWuCAhb6tcwf5ncK9BUmwjKPJg4FmPoVHYzTHOoxYzi2nfJOJCv8HoUAEtYcYdtkcE4kRGoyZjSVqpVXLw1LswWgY5t320cj3PAyM1zl96RfRRpIZfFVnr5VLofxp1LE3-qtqhZnOTvVpkYAjY3q_YAm7oK3Uyx_YGjIq_70p3ZeXgFMFpfDb5XFhBDWJEqK5PsAL-Q5PgUkl1VTgu3IjjVcVn6Tiht4l9eIfRJVD83twuGCfR2UclwUnYl4Duc6cy9fXC1BfLyVHQoi9hH0p6gsCKyJl5exOS1P3ogsJUv9be0LVVbDQw5TuJfq_JrBPDRAf2CqMri1TywpTvlRgzxeCDD3noTzOvSDQV-qApoWmPaSTjxcqUNb7jduZ_DogtgiuqsRKy7KOQ4nmHxTSKKKVeKA4fqyQVSrZNXzVbobUrMm5QZHLCb1qcfWVIXzr9qP45AGlC3z7vov2oyfJwpm2J5UP2ujcV7s6L8GzPILKAIJDMW27wb-nuVKmfAFIfAg1PFN3vVyS5Rl7KmTo4Ny7JskKwDj_qL8MY5OZXCVRuJ9SoPgmUHW0e-s-zXL5sv2Rz4yZHhkwIvqmGV2DXV356Oq8faoSYtT9htm-Bu3KErUxgow1-6e1p1FgNfHk_TQv0hzDj-9Q21l8YfgAwvBfOS6T9xRpkQgtQZUvAfVJHq09hy1Ah-rBpPVi-_bKpPQ7Gb4Ci8oysxk3U7_bg39fuPlXdDD9AKeCwQxPXELbJfoPnnz8ZCIDDw3uruHTZmHiD_DjHaZo-RGBzRXr7MkWICisg=w1920-h940);
	background-color: #191b1d;
	background-size: contain;
	position: absolute;
	top: -17vh;
	z-index: 12;
}
.wrapper {
	position: relative;
	display: block;
	padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 567px) {
	.video {
		min-height: 50vh;
		top: -0;
		width: 206.66667vh !important;
		left: 50%;
		transform: translateX(-50%) !important;
		background-image: url(https://lh3.googleusercontent.com/fife/AK0iWDzSaAFGvOJNbX1rKWoVku_umhYt7hZW9tPLxX6fQqNwr0EKVFlovcQAGVdxSuBnontPbT6ItpY2lQUuFlZ0HB2_C1b6UeXlg6x0MppbQhHYG37PeVuERhWjEt8zhQ2eR-IlxbkpYGqI5FILwCvxEOnNUyn1j1Cx-i9kmyn-2KHnDEl8p5WPVPobysYYLAqGz72rvyjOV2DQHlNQz3cNDvJSE3T3DEyV-E1KchxRQWK0nuoz-89xjKBb-UoU9zh4poFLvwT-Ke3RRMNFo9-gIkwdqUeSjEnvUP9oZHQG3GuJj2QnKSM-1ESp8c1enJLOcCS9xon2GwlFwtoeTsbP_PvKFdh7cFFKy_jli7F32B8lo4leAGXxjv2ByVOET-vSsWhYwJAlKVgT2GMLgmVkXaChyHe9nTESZRUWLYH1PA2NNfsBd6nJ6hlVrk97WsNrg7Ub-Kl_R1au7QnDFcKlRfLj2pv9A8xwkoZW4qs_knzYnxa7uPa18WvaRRBJDk8k52l6lzKpcQ5SNWSDxu4YQsmasRfXAh2SIF_SRN4kAunXzqZKiviJaO7p6MHXzVkc3OElQsmn0YPAXsBW7iQ2jyzRhYIR0J2yjod43ankxssIbHdus9Ni0EPtZ3_FHZeO-vTOflSSIYIn0ZB5E1b8AHayhfFROyoMjrg91iXovZKa5YCPd32t7z92pn7d3KSVyWU62bxWtfw6Jgl4F5RSxIelYZRGg-SY0bjjjK6UEa-R3mrHF5EXjecx7vxwmjYGAvf2SVtuxoZ4DnVdNemyUTTQqt6ms8DQiGYpfg_kalTyRC-wrQe8ivz9Pk8jQqbhWsh3hBpSepL5exFA9wtaXNsxwRuVRvs7xUNOyGZPOuL5wWcqf6QJcjUXghzTjdLeaktw_fUDCU0sMtOldLMKx5uG1ItULEYym-7Ued7WYn8MvKSo6WNmPyLwHUondzqAvr1PtFpSMmit-dqvQlAcsBSFgWJ7rubUwtGuKlG9AkRaGMwnhcrDa9eHyYeyfq6bYD_IdnW4dWIjceKtwojubSp4SP1Coh48LNeug-3Y7YDV5vXj977kq41RTm62AnpFsop-lpwVryJgN9qHHRvMlXX1JtCB7uAxgwdjZjTUfVw8XjuHa86IXr7N0bRkXwStppF1sCiIgpIr6ufkVJqJtUHh22oIjzTHLUEMsQ5s5knU0fhYvae9h__TjXSLfRFOdCZubtHN7GQGwmrwbyYbjRuP7W3kjYey7kFkkHuK7vv824-1-woRAA0dxzgPkaK0l9QmK_XrRpddMw3iwocH_onjM5w5_rGYOUnox5b4VT-jtewDNxjnRJ9dIygIB0-oBdpORzSkvE0j_KfkSxvYln2UnMFqPSAu4t61s5TeO2B9UoiUB7PV3qzD85T5DY9Ft3aMCT1ivGW-iajkWUqZiY_RRfDsoNEkAQk19iD-6ijzHnzFzW8CGXvGa2XlcMjXsMeTyKAWcZQ5ehWuWTkZ23sUOGaf7ECsC3FrKj_sxRN3K8SyR0yaWJFMQu0ig5Geqqjfqt991ff1kTKr_Lsos-6VBpU0Ax8bCssvgOr2jDkaS1k=w1424-h940);
	}
	.wrapper {
		min-height: 70vh;
		z-index: 0;
	}
}
