.video {
	position: relative;
	top: -35px;
	width: 110vw;
	height: 110vh;
	overflow: hidden;
	object-fit: cover;
	transition: all 1s;
	background-image: url(https://i.vimeocdn.com/video/1462853576-58d2ad679949feb5e4322dd1203463d90d2580e3e6030fd8834b420868422949-d_640);
	background-size: cover;
}
