.home {
	scroll-snap-align: calc(1);
	scroll-behavior: smooth;
}

.homeGreyBg {
	width: 100vw;
	height: 70vh;
	background: #cdcecf;
}

.title {
	padding-top: 8.18vw;
	color: #191b1d;
	font-family: Inter;
	font-size: 4.6875vw;
	font-style: normal;
	font-weight: 500;
	line-height: 4.6875vw; /* 100% */
	letter-spacing: -6.3px;
}

.lowSide {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 6vw;
}

.info {
	width: 22.1354vw;
	height: 3.85417vw;

	color: #191b1d;
	font-family: Inter;
	font-size: 1.1vw;
	font-style: normal;
	font-weight: 400;
	line-height: 1.1vw; /* 119.047% */
	letter-spacing: -0.7px;
}

.logo {
	display: flex;
	align-items: flex-end;
	svg {
		width: 8vw;
	}
}

.lowbar {
	display: flex;
	justify-content: space-between;
	padding-top: 1vw;
	position: absolute;
	background-color: #ffffff;
	bottom: 0;
	width: 100vw;
	height: 10vh;
}

.video {
	position: relative;
	padding-top: 30vh;
	width: 100%;
	height: 100%;
	background: rgb(255, 255, 255);
}

.category {
	background: rgb(255, 255, 255);
}

.setup {
	width: 100%;
	height: 45vw;
	background: rgb(255, 255, 255);

	padding-top: 4vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 2.5vw;
}

.categoryName h2 {
	color: #191b1d;
	font-family: Inter;
	font-size: 2vw;
	font-style: normal;
	font-weight: 500;
	line-height: 1.1vw; /* 105.263% */
	letter-spacing: -1.9px;
}
.categoryName h3 {
	padding-top: 2vw;
	color: #191b1d;
	font-family: Inter;
	font-size: 1.15vw;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5vw; /* 129.545% */
	letter-spacing: -1.1px;
	padding-bottom: 1.5vw;
}
.categoryName div {
	color: #191b1d;
	font-family: Inter;
	font-size: 1.9vw;
	font-style: normal;
	font-weight: 500;
	line-height: 2.1vw; /* 105.263% */
	letter-spacing: -1.9px;
}
.moreBtn {
	padding-top: 3vw;
}

.item h3 {
	padding-top: 1vw;
	color: #191b1d;
	font-family: Inter;
	font-size: 0.9vw;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 133.333% */
	letter-spacing: -0.64px;
}
.item h4 {
	padding-top: 0.3vw;
	color: rgba(25, 27, 29, 0.5);
	font-family: Inter;
	font-size: 0.8vw;
	font-style: normal;
	font-weight: 400;
	line-height: 1vw; /* 125% */
	letter-spacing: -0.64px;
}

.btnWrapper {
	display: flex;
	align-items: flex-start;
	gap: 1vw;

	color: #191b1d;
	font-family: Inter;
	font-size: 1vw;
	font-style: normal;
	font-weight: 400;
	line-height: 1vw; /* 100% */
	letter-spacing: -0.64px;
}
.numdot {
	width: 1.5vw;
	height: 1.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: Inter;
	font-size: 0.7vw;
	font-style: normal;
	font-weight: 400;
	line-height: 0vw; /* 123.077% */
	letter-spacing: -0.56px;
	border-radius: 100%;
	background: #000;
}

.social {
	width: 100%;
	height: 65vw;
	background: #cdcecf;

	padding-top: 4vw;
}

.socialInfo {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
}

.socialTitle {
	padding-bottom: 3vw;
}
.slider {
	display: flex;
	flex-direction: column;
	gap: 2.5vw;
}

.sliderBtns {
	display: flex;
	gap: 0.4vw;
}

.links {
	position: absolute;
	display: grid;
	grid-auto-flow: column;
	padding-top: 4vw;
	gap: 2vw;
}

.link {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 3vw;
	background: rgb(255, 255, 255);
}

.linkImg {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8vw 11vw 8vw 11vw;
}
.linkDescr {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.linkName {
	color: #191b1d;
	font-family: Inter;
	font-size: 1vw;
	font-style: normal;
	font-weight: 400;
	line-height: 1vw; /* 106.667% */
	letter-spacing: -0.64px;
}

.reviews {
	background: rgb(255, 255, 255);
	height: 500px;
}

.reviews__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 2vw;
}

.reviews__title {
	color: #191b1d;
	font-family: Inter;
	font-size: 4.6vw;
	font-style: normal;
	font-weight: 500;
	line-height: 4.6vw; /* 100% */
	letter-spacing: -6.3px;
}

.reviews__items {
	display: flex;
	justify-content: space-between;
}
.reviews__title {
	color: #191b1d;
	font-family: Inter;
	font-size: 90px;
	font-style: normal;
	font-weight: 500;
	line-height: 90px; /* 100% */
	letter-spacing: -6.3px;
	padding-bottom: 6vw;
}
.reviews__item {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(25, 27, 29, 0.1);
}
.reviews__img {
	width: 22vw;
}

.reviews__info {
	padding: 3vw;
}

.reviews__name {
	color: #191b1d;
	font-family: Inter;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px; /* 113.636% */
	letter-spacing: -1.1px;
}
.reviews__text {
	padding-top: 1.5vw;
	padding-bottom: 2vw;
	margin: 0 auto;
	width: 15vw;
	color: #000;
	font-family: Inter;
	font-size: 0.8vw;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 128.572% */
	letter-spacing: 0.26px;
}
