.home {
	// height: 5000px;
	scroll-behavior: smooth;
}

.homeGreyBg {
	width: 100vw;
	height: 70vh;
	background: #cdcecf;
}

.title {
	padding-top: 8.18vw;
	color: #191b1d;
	font-family: Inter;
	font-size: 4.6875vw;
	font-style: normal;
	font-weight: 500;
	line-height: 4.6875vw; /* 100% */
	letter-spacing: -6.3px;
}

.lowSide {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 6vw;
}

.info {
	width: 22.1354vw;
	height: 3.85417vw;

	color: #191b1d;
	font-family: Inter;
	font-size: 1.1vw;
	font-style: normal;
	font-weight: 400;
	line-height: 1.1vw; /* 119.047% */
	letter-spacing: -1px;
}

.logo {
	display: flex;
	align-items: flex-end;
	svg {
		width: 8vw;
	}
}

.lowbar {
	display: flex;
	justify-content: space-between;
	padding-top: 1vw;
	position: fixed;
	background-color: #ffffff;
	bottom: 0;
	width: 100vw;
	height: 10vh;
}

.video {
	padding-top: 50vh;
}
