.wrapper {
	padding-top: 10vh;
	padding-bottom: 25vh;
	padding-left: 7vw;
}
.title {
	color: #a08750;
	font-family: Inter;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 500;
	line-height: 40px; /* 153.846% */
	letter-spacing: 3.48px;
	text-transform: uppercase;
	padding-bottom: 5vh;
}
.cartLayout {
	display: grid;
	grid-template-columns: 1fr 0.5fr;
}
.cart {
	width: 100%;
	padding-right: 5vw;
	border-right: 1px solid rgba(25, 27, 29, 0.1);
}
.address {
	color: #a08750;
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 30px; /* 190.476% */
	letter-spacing: 2.16px;
	text-transform: uppercase;
	padding-bottom: 4vh;
	border-bottom: 1px solid #a08750;
}
.formContent {
	padding-top: 4vh;
}
.formTitle {
	color: #000;
	font-family: Inter;
	font-size: 0.8rem;
	font-style: normal;
	font-weight: 500;
	line-height: 18px; /* 167.199% */
	letter-spacing: 0.26px;
}
.formBtn {
	width: 150px;
	padding-top: 4vh;
	button {
		height: 40px;
		font-size: 0.7rem;
		padding: 0;
	}
}
.item {
	padding-bottom: 2vh;
}
.cartInfo {
	padding-left: 2.5vw;
}
.quantity {
	display: flex;
	justify-content: space-between;
	padding-bottom: 2.5vh;
	border-bottom: 1px solid rgba(25, 27, 29, 0.1);
}
.itemsImageWrapper {
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	border-bottom: 1px solid rgba(25, 27, 29, 0.1);

	display: flex;
	flex-direction: column;
	gap: 2vh;
}
.items {
	display: grid;
	grid-template-columns: 1.5fr 4fr;
	height: 12vh;
	gap: 2vw;
}
.itemImageWrapper {
	overflow: hidden;
	img {
		width: 120px !important;
	}
}
.itemImage {
	border-radius: 5px;
}
.itemInfo {
	display: flex;
	flex-direction: column;
}
.itemName {
	color: #000;
	font-family: Inter;
	font-size: 0.7rem;
	font-style: normal;
	font-weight: 600;
	line-height: 18px; /* 171.684% */
	letter-spacing: 1.32px;
	text-transform: uppercase;
}
.itemPrice {
	color: #a08750;
	font-family: Inter;
	font-size: 0.8rem;
	font-style: normal;
	font-weight: 500;
	line-height: 18px; /* 171.684% */
	letter-spacing: 1.32px;
	text-transform: uppercase;
	padding-top: 0.5vh;
}
.productsPrice,
.salesTax,
.total {
	display: flex;
	justify-content: space-between;

	color: #000;
	font-family: Inter;
	font-size: 0.6rem;
	font-style: normal;
	font-weight: 600;
	line-height: 18px; /* 200% */
	letter-spacing: 1.32px;
	text-transform: uppercase;
}
.productsPrice {
	padding-top: 2.5vh;
	padding-bottom: 1vh;
}
.salesTax {
	padding-bottom: 2.5vh;
	border-bottom: 1px solid rgba(25, 27, 29, 0.1);
}
.total {
	display: flex;
	align-items: center;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
}
.totalPrice {
	color: #a08750;
	font-family: Inter;
	font-size: 0.9rem;
	font-style: normal;
	font-weight: 600;
	line-height: 30px; /* 176.471% */
	letter-spacing: 2.16px;
	text-transform: uppercase;
}
.otherInfo {
	padding-top: 5vh;

	color: rgba(0, 0, 0, 0.5);
	font-family: Inter;
	font-size: 0.5vw;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1.32px;
	text-transform: uppercase;
}
.otherInfo > div:first-child {
	padding-bottom: 0.7vw;
	border-bottom: 1px solid rgba(25, 27, 29, 0.1);
}

.otherInfo > div:last-child {
	padding-top: 0.7vw;
}
.otherInfoList {
	display: flex;
	justify-content: space-between;
}
.otherInfoList > span:last-child {
	transform: rotate(90deg);
	font-size: 0.9vw;
}
.colorVariantName {
	font-size: 0.7rem;
	color: grey;
	text-transform: uppercase;
}

@import './checkout.adapt.scss';
