@media only screen and (max-width: 1200px) {
	.descr {
		top: 4vh;
	}
	.name {
		top: 6vh;
	}
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 567px) {
	.introWrapper {
		width: 100vw;
		height: 40vh;
		overflow: hidden;
	}
	.intro {
		width: 100vw;
		height: 40vh;
		overflow: hidden;
		img {
			width: 100%;
			height: 40vh;
			object-fit: cover;
			filter: brightness(60%);
		}
	}
	.name {
		font-size: 2rem;
	}
	.title {
		color: #191b1d;
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 5vw; /* 101.124% */
		letter-spacing: -0.3vw;
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	.descr {
		position: absolute;
		top: 18vh;

		color: #fff;
		padding-top: 20px;
		font-size: 0.8rem;
		font-style: normal;
		font-weight: 400;
		line-height: 3.5vw; /* 140.625% */
		letter-spacing: 0.2vw;
	}
	.name {
		top: 17vh;
	}
}
@media only screen and (max-width: 320px) {
}
