.popup {
	padding: 4vw;
	padding-top: 2.5vw;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 30vw;
	background-color: rgb(255, 255, 255);
	overflow: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.popupWrapper {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.63);
}

.cart {
	display: flex;
	flex-direction: column;
	gap: 1vw;
}
// Popup scrollbar
.popup::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.popup::-webkit-scrollbar-track {
	border-radius: 20px;
	background: rgba(0, 0, 0, 0);
}
.popup::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: rgba(0, 0, 0, 0);
}
.title {
	color: #000;
	font-family: Inter;
	font-size: 1.3vw;
	font-style: normal;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: 3.24px;
	text-transform: uppercase;
}

.itemsNum {
	color: rgba(0, 0, 0, 0.5);
	text-align: right;
	font-family: Inter;
	font-size: 0.5vw;
	font-style: normal;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 1.32px;
	text-transform: uppercase;
}

.titleWrapper {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-bottom: 2vw;
	margin-bottom: 1vw;
	border-bottom: 1px solid rgba(25, 27, 29, 0.1);
}

.total {
	display: flex;
	justify-content: space-between;
	padding-top: 2vw;
}
.totalText {
	color: #000;
	font-family: Inter;
	font-size: 0.7vw;
	font-style: normal;
	font-weight: 600;
	line-height: 18px; /* 200% */
	letter-spacing: 1.32px;
	text-transform: uppercase;
}
.totalPrice {
	color: #a08750;
	font-family: Inter;
	font-size: 1vw;
	font-style: normal;
	font-weight: 500;
	line-height: 30px; /* 176.471% */
	letter-spacing: 2.16px;
	text-transform: uppercase;
}

.totalBtn {
	padding-top: 2vw;
}
