.title {
	padding-top: 25vh;
	color: #a08750;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 36px; /* 150% */
	letter-spacing: 3.24px;
	text-transform: uppercase;
}
