@media only screen and (max-width: 1200px) {
	.title {
		padding-top: 15vh;
		color: #191b1d;
		font-family: Inter;
		font-size: 3rem;
		font-style: normal;
		font-weight: 700;
		line-height: 8.3vw; /* 100% */
		letter-spacing: -5.3px;
	}
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 567px) {
}
@media only screen and (max-width: 320px) {
}
