.form {
	width: 100%;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 22vw;
	padding-right: 22vw;
}
.text {
	font-size: 0.55vw;
	line-height: 12.65px;
	letter-spacing: 1.32px;
	text-transform: uppercase;
	transition: 0.2s;
}
