.setupItems {
	display: flex;
	flex-direction: column;
	grid-column-start: 2;
	grid-column-end: 2;
	padding-bottom: 5vh;
}
.setupItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(25, 27, 29, 0.1);
	width: 100%;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	cursor: pointer;
	transition: 0.5s;
}
.setupItemWrapper {
	display: grid;
	grid-template-columns: 1fr 2fr 0.1fr;
	gap: 20px;
}
.setupItem:hover .prodName,
.arr {
	color: #bd9f5fde;
}
.prodName {
	color: #000;
	font-family: Inter;
	font-size: 0.7rem;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1.32px;
	text-transform: uppercase;
	transition: all 0.5s;
}
.prodPrice {
	color: #a08750;
	font-family: Inter;
	font-size: 0.7rem;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 1.32px;
	text-transform: uppercase;
}
.prodImg {
	width: 80px;
	height: 80px;
	img {
		border-radius: 5px;
	}
}
.arr {
	width: 20px;
	height: 20px;
	transform: rotate(90deg);
	font-weight: 600;
	font-size: 1.3vw;
}
@media only screen and (max-width: 768px) {
	.arr {
		font-size: 1rem;
	}
}
