.leaveBtn {
	display: flex;
	justify-content: flex-end;
}

.reviews {
	display: flex;
	gap: 2vh;
	padding: 4vw;
}
.reviewText {
	color: #616161;
	font-family: Inter;
	font-size: 0.8vw;
	font-style: normal;
	font-weight: 400;
	line-height: 22.5px; /* 150% */

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.reviewWrapper {
	display: flex;
	flex-direction: column;
	gap: 1vh;
	border: 1px solid #e5e4e1;
	padding: 2vh;
	width: 20vw;
	cursor: pointer;
}
.swiper {
	display: flex;
	width: 100%;
	height: 100%;
}
.modalName {
	color: #000;
	font-family: Inter;
	font-size: 1vw;
	font-style: normal;
	font-weight: 600;
	line-height: 18px; /* 200% */
	letter-spacing: 1.32px;
	text-transform: uppercase;
	padding-bottom: 2vh;
}
.modalTextArea {
	width: 100%;
	height: 30vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding: 1vh;
}
