.wrapper {
	padding-top: 20vh;
	display: grid;
	grid-template-columns: 0.7fr 2fr;
	gap: 6vw;
	min-height: 62vh;
}
.asideMenu {
	padding-top: 4vh;
	display: flex;
	flex-direction: column;
	gap: 0.8vw;
	color: #000;
	font-family: Inter;
	font-size: 0.55vw;
	font-style: normal;
	font-weight: 600;
	line-height: 18px; /* 200% */
	letter-spacing: 1.32px;
	text-transform: uppercase;
	border-right: 1px solid rgba(25, 27, 29, 0.1);
}
.asideMenu a {
	transition: all 0.3s;
}
.asideMenu a:hover {
	cursor: pointer;
	color: #a08750;
}
.leading {
	display: flex;
	flex-direction: column;
	min-height: 60vh;
}

.title {
	color: #a08750;
	font-family: Inter;
	font-size: 1.3vw;
	font-style: normal;
	font-weight: 500;
	line-height: 36px; /* 150% */
	letter-spacing: 3.24px;
	text-transform: uppercase;
	padding-bottom: 2vh;
}
.subtitle {
	padding-top: 5vh;
	color: #000;
	font-family: Inter;
	font-size: 0.9vw;
	font-style: normal;
	font-weight: 500;
	line-height: 30px; /* 187.5% */
	letter-spacing: 2.16px;
	text-transform: uppercase;
}
.info {
	padding-top: 2vh;
	color: rgba(0, 0, 0, 0.5);
	font-family: Inter;
	font-size: 0.5vw;
	font-style: normal;
	font-weight: 500;
	line-height: 12px; /* 133.333% */
	letter-spacing: 0.44px;
	transition: all 0.5s;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 0.5vw;
	font-style: normal;
	font-weight: 600;
	line-height: 18px; /* 180% */
	letter-spacing: 1.32px;
	text-transform: uppercase;
	width: 10vw;
	height: 2.5vw;
	background: #000;
	margin-top: 5vh;
	cursor: pointer;
}
.logout {
	position: relative;
	padding-top: 4vh;
	border-top: 1px solid #191b1d1a;
	.dot {
		position: absolute;
		top: -11px;
		right: -6px;
		font-size: 15px;
		color: #191b1d6b;
		background-color: #fff;
	}
}
.active {
	font-weight: bold;
	color: #a08750;
}

.submenu {
	padding-left: 1vw;
	display: flex;
	justify-content: space-around;
	padding-bottom: 1vh;
	flex-direction: column;
	gap: 0.8vh;
	span {
		cursor: pointer;
		transition: all 0.5s;
		padding-bottom: 0.5vh;
		&:hover {
			color: #a08750;
		}
	}
}
.box {
	padding-bottom: 0.5vh;
}
.catalogSettings {
	padding-left: 1.5vw;
	color: #000000;
	font-family: Inter;
	font-size: 0.6vw;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 1.32px;
	text-transform: capitalize;
}
