@media only screen and (max-width: 1200px) {
	.reviews__title {
		color: #191b1d;
		font-family: Inter;
		font-size: 4rem;
		font-style: normal;
		font-weight: 500;
		line-height: 90px; /* 100% */
		letter-spacing: -6.3px;
		padding-bottom: 6vw;
	}
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 567px) {
}
@media only screen and (max-width: 320px) {
}
