.sortDropdown {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 5vh;
	border-bottom: 1px solid rgba(25, 27, 29, 0.1);
}
.select {
	width: 10vw;

	color: #000;
	font-family: Inter;
	font-size: 0.9vw;
	font-style: normal;
	font-weight: 600;
	line-height: 18px; /* 200% */
	letter-spacing: 1.32px;
	text-transform: uppercase;
}
