.button {
	width: 100%;
	text-decoration: none;
	border: none;

	font-size: 0.55vw;
	line-height: 12.65px;
	letter-spacing: 1.32px;
	text-transform: uppercase;
	transition: 0.2s;

	padding-left: 2vw /* 80px */;
	padding-right: 2vw /* 80px */;

	padding-top: 1.1vw /* 16px */;
	padding-bottom: 1.1vw /* 16px */;
}
.button:hover {
	background: #a08750;
}
