@media only screen and (max-width: 1200px) {
	.reviews__title {
		color: #191b1d;
		font-family: Inter;
		font-size: 4rem;
		font-style: normal;
		font-weight: 500;
		line-height: 90px; /* 100% */
		letter-spacing: -6.3px;
		padding-bottom: 6vw;
	}
	.reviews__header {
		button {
			margin-top: 30px;
			font-size: 0.9rem;
			padding: 5px 12px 5px 12px;
		}
	}
	.reviews__items {
		justify-content: center;
	}
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 567px) {
}
@media only screen and (max-width: 320px) {
}
