@media only screen and (max-width: 1200px) {
	.favorites {
		padding: 11px 1.6vw 10px 1.5vw;
		padding-top: auto !important;
		padding-bottom: auto !important;
		cursor: pointer;
		svg {
			width: 18px;
			height: 18px;
		}
	}
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 567px) {
	.favorites {
		padding: 15px 15px 14px 15px;
	}
}
@media only screen and (max-width: 320px) {
}
