@media only screen and (max-width: 1200px) {
	.favorites {
		border-right: 1px solid #b7b7b780;
		padding: 11px 1.6vw 10px 1.5vw;
		cursor: pointer;
		svg {
			width: 18px;
			height: 18px;
		}
	}
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 567px) {
	.favorites {
		display: none;
	}
}
@media only screen and (max-width: 320px) {
}
