.title {
	padding-top: 15vh;
	color: #a08750;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 36px; /* 150% */
	letter-spacing: 3.24px;
	text-transform: uppercase;
}
.text {
	padding: 20px;
}
.data {
	font-size: 0.8rem;
	color: grey;
}
.content {
	background-color: white;
}
