@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
	@apply text-base text-black;
	font-family: 'Inter', sans-serif;
	padding: 0;
	margin: 0;
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	opacity: 0.2 !important;
}

.container {
	padding-left: 10rem;
	padding-right: 10rem;
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	opacity: 0.2 !important;
}

.open-menu {
	opacity: 1;
	transition: 0.4s;
	z-index: 100;
}
.close-menu {
	opacity: 0.8;
	transform: translateX(105%);
	transition: 0.4s;
}

// вынести в файл стилей

.dark-bg {
	opacity: 1;
	transform: scale(1);
	animation: on 0.4s forwards;
}
.off-dark-bg {
	opacity: 0.8;
	transform: translateX(105%);
	animation: off 0.4s forwards;
}

@keyframes on {
	from {
		opacity: 0.8;
	}
	to {
		opacity: 1;
	}
}
@keyframes off {
	to {
		opacity: 1;
	}
	from {
		opacity: 0.8;
	}
}
