.blackTypeBtn {
	color: white;
	background: #191b1d;

	text-align: center;
	font-size: 0.9vw;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: -0.64px;

	border-radius: 60px;

	display: flex;
	justify-content: center;
	align-items: center;
	// padding: 7px 16.41px 7px 16px;
	padding: 0.36vw 0.85vw 0.36vw 0.83vw;

	position: relative;
	overflow: hidden;
}
.greyTypeBtn {
	color: #191b1d;
	background: rgba(25, 27, 29, 0.1);

	text-align: center;
	font-size: 0.9vw;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: -0.64px;

	border-radius: 60px;

	display: flex;
	justify-content: center;
	align-items: center;
	// padding: 7px 16.41px 7px 16px;
	padding: 0.36vw 0.85vw 0.36vw 0.83vw;
	position: relative;
	overflow: hidden;
}

.blackTypeBtn:hover {
	cursor: pointer;
}

/*blackTypeBtn:before (attr data-hover)*/
.blackTypeBtn:hover:before {
	transform: translate(0, 0);
}
.blackTypeBtn:before {
	content: attr(data-hover);
	position: absolute;
	left: 0;
	width: 100%;
	transform: translate(0, 170%);
	transition: all 0.3s;
}
/*blackTypeBtn div (blackTypeBtn text before hover)*/
.blackTypeBtn:hover span {
	transform: translate(0, -170%);
}
.blackTypeBtn span {
	transition: all 0.3s;
}

.greyTypeBtn:hover {
	cursor: pointer;
}

/*greyTypeBtn:before (attr data-hover)*/
.greyTypeBtn:hover:before {
	transform: translate(0, 0);
}
.greyTypeBtn:before {
	content: attr(data-hover);
	position: absolute;
	left: 0;
	width: 100%;
	transform: translate(0, 170%);
	transition: all 0.3s;
	color: white;
	background: #191b1d;
	padding: 0.36vw 0.85vw 0.36vw 0.83vw;
	border-radius: 60px;
}
/*greyTypeBtn div (greyTypeBtn text before hover)*/
.greyTypeBtn:hover span {
	transform: translate(0, -170%);
}
.greyTypeBtn span {
	transition: all 0.3s;
}

.btnArrow {
	width: 1.5vw;
	height: 1.5vw;
	color: #191b1d;
	background: rgba(25, 27, 29, 0.1);

	text-align: center;
	font-size: 0.7vw;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: -0.64px;

	border-radius: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.1vw;
	position: relative;
	overflow: hidden;
}

.btnArrow:hover {
	cursor: pointer;
}

/*btnArrow:before (attr data-hover)*/
.btnArrow:hover:before {
	transform: translate(0, 0);
}
.btnArrow:before {
	width: 1.5vw;
	height: 1.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.1vw;
	content: attr(data-hover);
	position: absolute;
	left: 0;
	width: 100%;
	transform: translate(0, 170%);
	transition: all 0.3s;
	color: white;
	background: #191b1d;
	border-radius: 60px;
}
/*btnArrow div (btnArrow text before hover)*/
.btnArrow:hover span {
	transform: translate(0, -170%);
}
.btnArrow span {
	transition: all 0.3s;
}

.btnPlus {
	width: 1.6vw;
	height: 1.6vw;
	color: #191b1d;
	background: rgba(25, 27, 29, 0.1);

	text-align: center;
	font-size: 1.3vw;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	line-height: 1vw;
	letter-spacing: -0.64px;

	border-radius: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.1vw;
	position: relative;
	overflow: hidden;
}

.btnPlus:hover {
	cursor: pointer;
}

/*btnPlus:before (attr data-hover)*/
.btnPlus:hover:before {
	transform: translate(0, 0);
}
.btnPlus:before {
	width: 1.5vw;
	height: 1.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.1vw;
	content: attr(data-hover);
	position: absolute;
	left: 0;
	width: 100%;
	transform: translate(0, 170%);
	transition: all 0.3s;
	color: white;
	background: #191b1d;
	border-radius: 60px;
}
/*btnPlus div (btnPlus text before hover)*/
.btnPlus:hover span {
	transform: translate(0, -170%);
}
.btnPlus span {
	transition: all 0.3s;
}
.btnPlusWhite {
	width: 1.6vw;
	height: 1.6vw;
	color: #ffffff;
	background: rgba(25, 27, 29, 0.1);

	text-align: center;
	font-size: 1.2vw;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	line-height: 1vw;
	letter-spacing: -0.64px;

	border-radius: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.1vw;
	position: relative;
	overflow: hidden;
}

.btnPlusWhite:hover {
	cursor: pointer;
}

/*btnPlusWhite:before (attr data-hover)*/
.btnPlusWhite:hover:before {
	transform: translate(0, 0);
}
.btnPlusWhite:before {
	width: 1.5vw;
	height: 1.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.1vw;
	content: attr(data-hover);
	position: absolute;
	left: 0;
	width: 100%;
	transform: translate(0, 170%);
	transition: all 0.3s;
	color: rgb(170, 170, 170);
	background: #191b1d;
	border-radius: 60px;
}
/*btnPlusWhite div (btnPlusWhite text before hover)*/
.btnPlusWhite:hover span {
	transform: translate(0, -170%);
}
.btnPlusWhite span {
	transition: all 0.3s;
}

.btnArrowMenu {
	width: 1.3vw;
	height: 1.3vw;
	color: #191b1d;
	background: rgba(25, 27, 29, 0.1);

	text-align: center;
	font-size: 0.7vw;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: -0.64px;

	border-radius: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.1vw;
	position: relative;
	overflow: hidden;
}

.btnArrowMenu:hover {
	cursor: pointer;
}

/*btnArrowMenu:before (attr data-hover)*/
.btnArrowMenu:hover:before {
	transform: translate(0, 0);
}
.btnArrowMenu:before {
	width: 1.5vw;
	height: 1.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.1vw;
	content: attr(data-hover);
	position: absolute;
	left: 0;
	width: 100%;
	transform: translate(0, 170%);
	transition: all 0.4s;
	color: white;
	background: #191b1d;
	border-radius: 60px;
}
/*btnArrowMenu div (btnArrowMenu text before hover)*/
.btnArrowMenu:hover span {
	transform: translate(0, -170%);
}
.btnArrowMenu span {
	transition: all 0.4s;
}
