.blackTypeBtn {
	color: white;
	background: #191b1d;

	text-align: center;
	font-size: 0.9vw;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: -0.64px;

	border-radius: 60px;

	display: flex;
	justify-content: center;
	align-items: center;
	// padding: 7px 16.41px 7px 16px;
	padding: 0.36vw 0.85vw 0.36vw 0.83vw;

	position: relative;
	overflow: hidden;
}
.greyTypeBtn {
	color: #191b1d;
	background: rgba(25, 27, 29, 0.1);

	text-align: center;
	font-size: 0.9vw;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: -0.64px;

	border-radius: 60px;

	display: flex;
	justify-content: center;
	align-items: center;
	// padding: 7px 16.41px 7px 16px;
	padding: 0.36vw 0.85vw 0.36vw 0.83vw;
	position: relative;
	overflow: hidden;
}

.blackTypeBtn:hover {
	cursor: pointer;
}

/*blackTypeBtn:before (attr data-hover)*/
.blackTypeBtn:hover:before {
	transform: translate(0, 0);
}
.blackTypeBtn:before {
	content: attr(data-hover);
	position: absolute;
	left: 0;
	width: 100%;
	transform: translate(0, 170%);
	transition: all 0.3s;
}
/*blackTypeBtn div (blackTypeBtn text before hover)*/
.blackTypeBtn:hover span {
	transform: translate(0, -170%);
}
.blackTypeBtn span {
	transition: all 0.3s;
}

.greyTypeBtn:hover {
	cursor: pointer;
}

/*greyTypeBtn:before (attr data-hover)*/
.greyTypeBtn:hover:before {
	transform: translate(0, 0);
}
.greyTypeBtn:before {
	content: attr(data-hover);
	position: absolute;
	left: 0;
	width: 100%;
	transform: translate(0, 170%);
	transition: all 0.3s;
	color: white;
	background: #191b1d;
	padding: 0.36vw 0.85vw 0.36vw 0.83vw;
	border-radius: 60px;
}
/*greyTypeBtn div (greyTypeBtn text before hover)*/
.greyTypeBtn:hover span {
	transform: translate(0, -170%);
}
.greyTypeBtn span {
	transition: all 0.3s;
}
