.catalog {
	padding-top: 8vw;
}

.items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(17vw, 0.7fr));
	justify-content: center;
	margin-top: 50px;
	padding-top: 50px;
	// gap: 40px;
	gap: 3vw;
	border-top: 1px solid rgba(25, 27, 29, 0.1);
}

.btnWrapper {
	display: flex;
	gap: 0.5rem;
	padding-top: 14vw;
}

@media (max-width: 1350px) {
	.hideBtn {
		display: none;
	}
}
