@media only screen and (max-width: 1200px) {
	.items {
		grid-template-columns: 1fr 1fr;
		column-gap: 5vw;
	}
}
@media only screen and (max-width: 768px) {
	.items {
		grid-template-columns: 1fr 1fr;
		column-gap: 3vw;
	}
}
@media only screen and (max-width: 567px) {
	.items {
		padding-top: 0;
	}
}
@media only screen and (max-width: 320px) {
}
