.catalog {
	display: flex;
	flex-direction: column;
	padding-left: 10rem;
	padding-right: 10rem;
	padding-top: 165px;
}

.items {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	padding-top: 50px;
	gap: 40px;
	border-top: 1px solid rgba(25, 27, 29, 0.1);
}
