.catalog {
	padding-top: 8vw;
	position: relative;
	width: 100vw;
	height: 100vh;
}
.items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	padding-top: 6vh;
	column-gap: 2vw;
	row-gap: 3.5vw;
	padding-bottom: 60px;
	border-bottom: 1px solid rgba(25, 27, 29, 0.1);
}

.btnWrapper {
	display: flex;
	gap: 0.5rem;
	padding-top: 14vw;
}

@media (max-width: 1350px) {
	.hideBtn {
		display: none;
	}
}
