.lowbar {
	position: sticky;
	display: flex;
	justify-content: space-between;
	padding-top: 1vw;
	background-color: #ffffff;
	width: 100vw;
	height: 8vh;
	border-top: 1px solid rgba(25, 27, 29, 0.1);
	transition: all 0.4s ease-in-out;
	z-index: 15;
}
.lowbar:hover {
	height: 10vh;
	cursor: pointer;
}
.off {
	transition: all 0.5s;
	opacity: 0;
	height: 10vh;
}

// Adapt

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 768px) {
	.lowbar {
		padding-top: 3vw;
		height: 10vh;
	}
}
@media only screen and (max-width: 567px) {
	.lowbar {
		padding-top: 5vw;
		height: 10vh;
	}
}
@media only screen and (max-width: 320px) {
}
