.lowbar {
	position: sticky;
	display: flex;
	justify-content: space-between;
	padding-top: 1vw;
	background-color: #ffffff;
	width: 100vw;
	height: 8vh;
	border-top: 1px solid rgba(25, 27, 29, 0.1);
	transition: all 0.4s ease-in-out;
	z-index: 999;
}
.lowbar:hover {
	height: 10vh;
	cursor: pointer;
}
.off {
	transition: all 0.5s;
	opacity: 0;
	height: 10vh;
}
